
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Varela+Round&display=swap');

body{
    background-color: #581845;
}
*{
    margin: 0;
    padding: 0;
    
}
nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color:#C70039;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 44px;padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;font-weight: bolder;font-size: 1.3rem;
}
.container{
    min-height: 72vh;
    background-color: #900C3F;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
    display: flex;
    width: 80%;
    margin: 23px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg.jpg);
    background-repeat:no-repeat;
    background-size: 1200px 800px;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: #900C3F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#MyProgressbar{
    width: 80vw;
    align-items: center;
    cursor: pointer;
}
.songitemcontainer{
    margin-top: 50px;
}
.songItem{
height: 50px;
display: flex;
background-color: #581845;
width: 60%;
color:wheat;
margin: 12px 0;
justify-content: space-between;
align-items: center;
border-radius: 64px;
border-color: #C70039;


}
.songItem img{
    width: 43px;
    margin: 23px 0;
    border-radius: 34px;


}
.timestamp{
    margin: 0 23px;
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}